---
import Tag from './Tag.astro';
import { format } from 'date-fns';

export interface Props {
  project: {
    company: string;
    title: string;
    description: string;
    from: Date;
    to: Date;
    tags: string[];
  };
}

const { project } = Astro.props;
const from = format(project.from, 'MMM yyyy');
const to = format(project.to, 'MMM yyyy');
---

<div class="flex flex-col gap-2">
  <div>
    <div>
      <span class="text-2xl font-bold">{project.company}</span>
      <span>·</span>
      <span>{from} - {to}</span>
    </div>
    <div class="text-sm text-stone-500">{project.title}</div>
  </div>

  <p>{project.description}</p>

  <div class="flex gap-2">
    {project.tags.map((tag: string) => <Tag tag={tag} />)}
  </div>
</div>
